<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StatPage</title>
    <link rel="stylesheet" type="text/css" href="../css/stat.css">
</head>
<body>
    <span><a href="comment"> Добавить комментарий </a> </span>
    <span><a href="view"> Посмотреть комментарии </a> </span>
    <table border="1" id="statTable">
        <tr>
            <th>
                Регион
            </th>
            <th>
                Количество комментариев
            </th>
        </tr>
    </table>
    <script src="../js/stat.js"></script>
</body>
</html>