<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewPage</title>
    <link rel="stylesheet" type="text/css" href="../css/view.css">
</head>
<body>
    <span><a href="comment"> Создать комментарий </a> </span>
    <span><a href="stat"> Посмотреть статистику по активным регионам </a> </span>
    <table border="1" id="commentsTable">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Регион</th>
            <th>Город</th>
            <th>Контактный телефон</th>
            <th>E-mail</th>
            <th>Комментарий</th>
            <th>Удалить</th>
        </tr>
    </table>
    <script src="../js/view.js"></script>
</body>
</html>